.banner {
  height: 605px;  
  background: linear-gradient(var(--header-gradient-dark-color), var(--header-gradient-light-color), var(--header-gradient-dark-color)), url(../images/banner.png) no-repeat;
  background-size: cover;
  padding-top:56px;
  border-bottom: 1px solid var(--main-transparency-color);
}

.banner-content {
  width: 465px;
  margin: auto;
  text-align: center;
}

.logo {
  background: rgba(0, 0, 0, .2);
  border-radius: 50%;
  width: 260px;
  height: 260px;
  margin: auto;
  padding: 20px;
}

.logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.banner-content button {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  background: transparent;
  border: 2px solid var(--main-color);
  padding: 15px 30px;
  letter-spacing: var(--letter-spacing-headings);
  margin-top: 20px;
}

.banner-content button:hover {
  cursor: pointer;
}

h1 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-heavy);
  background: linear-gradient(var(--main-color), #1472B7);
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  margin: 20px 0;
}